:root {
  /* Font-Family */
  --Sniglet: 'Sniglet', cursive;
  --Rancho: 'Rancho', cursive;
  --Pacifico: 'Pacifico', cursive;
  --Itim: 'Itim', cursive;
  --Harmattan: 'Harmattan', sans-serif;
  --GochiHand: 'Gochi Hand', cursive;
  --Gabriela: 'Gabriela', serif;
}